* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  padding: 0 10px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn-link {
  border: none;
  padding: 6px 30px;
  border-radius: 5px;
  background-color: #f6cc99;
  color: #181010;
}

.btn-link:hover {
  background-color: #917D68;
}

.fa-angle-double-down {
  color: #f6cc99;
}

img {
  width: 100%;
}

/*--Note: I'm using SASS, it allows me to target some elements by nesting... SO COOL!! */
body {
  font-size: 16px;
  font-family: cursive;
  background-color: #fafafa;
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
  /*--- Header + Nav ---*/
}

body main {
  background-image: url("/images/house3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
}

body .over {
  background-color: rgba(63, 55, 58, 0.7);
  padding-bottom: 90px;
}

@media screen and (max-width: 450px) {
  body .over {
    padding-bottom: 140px;
  }
}

body header {
  position: relative;
  /*-----Side Menu ------*/
  /*-------side Menu Ends here---------*/
}

body header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header .header-container a {
  color: #fafafa;
}

body header .header-container #logo {
  margin: 1.6rem 0rem;
  font-size: 25px;
  font-family: 'Patrick Hand', cursive;
}

body header .header-container #navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*-------Hamburger Menu --------*/
  /*-------Hamburger Menu Ends Here -----*/
}

body header .header-container #navbar ul li {
  margin: 1.6rem 1rem;
}

@media screen and (max-width: 880px) {
  body header .header-container #navbar ul li {
    display: none;
  }
}

body header .header-container #navbar ul li a {
  font-size: 16px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

body header .header-container #navbar ul li a:hover {
  color: #f6cc99;
}

body header .header-container #navbar ul li .btn-link:hover {
  color: #fafafa;
}

body header .header-container #navbar ul #hamburger {
  margin-top: 30px;
  width: 35px;
  height: 33px;
  cursor: pointer;
  margin-right: 10px;
  z-index: 2;
}

@media screen and (min-width: 880px) {
  body header .header-container #navbar ul #hamburger {
    display: none;
  }
}

body header .header-container #navbar ul .bar {
  background-color: #fafafa;
  height: 3px;
  width: 85%;
  display: block;
  border-radius: 5px;
  margin: 4px 3px 0px 0px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

body header .header-container #navbar ul .bar-1 {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

body header .header-container #navbar ul .bar-3 {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

body header .header-container #navbar ul .changed .bar {
  background-color: #fafafa;
}

body header .header-container #navbar ul .changed .bar-1 {
  -webkit-transform: translateY(10px) rotate(46deg);
          transform: translateY(10px) rotate(46deg);
}

body header .header-container #navbar ul .changed .bar-3 {
  -webkit-transform: translateY(-6px) rotate(-46deg);
          transform: translateY(-6px) rotate(-46deg);
}

body header .header-container #navbar ul .changed .bar-2 {
  opacity: 0;
}

body header .menu {
  position: absolute;
  right: 2%;
  padding: 2px 15px;
  -webkit-transition: 0.8 ease;
  transition: 0.8 ease;
  z-index: 5;
}

body header .menu li {
  padding: 10px 0;
}

body header .menu li a {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

body header .menu a:hover {
  font-weight: bold;
}

body header .remove-menu {
  display: none;
}

body header .menu-bg {
  width: 0;
  height: 0;
  background: radial-gradient(circle, #f6cc99, #917D68);
  -webkit-box-shadow: 0px 3px 15px rgba(63, 55, 58, 0.4);
          box-shadow: 0px 3px 15px rgba(63, 55, 58, 0.4);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  top: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  margin-top: 25px;
  margin-right: 19px;
}

body header .change-bg {
  width: 550px;
  height: 540px;
  -webkit-transform: translate(63%, -30%);
          transform: translate(63%, -30%);
}

body #showcase {
  color: #fafafa;
  margin-top: 10px;
}

@media screen and (max-width: 460px) {
  body #showcase {
    margin-top: 20px;
  }
}

body #showcase hr {
  width: 10%;
  margin-bottom: 20px;
}

@media screen and (max-width: 460px) {
  body #showcase hr {
    width: 30%;
  }
}

body #showcase .text-box {
  font-family: 'Overlock', cursive;
}

body #showcase .text-box h1 {
  font-size: 2.5rem;
  text-align: left;
  line-height: 1.1;
  opacity: 0;
  -webkit-animation: fadeUp .9s forwards;
          animation: fadeUp .9s forwards;
}

@media screen and (max-width: 760px) {
  body #showcase .text-box h1 {
    font-size: 1.4rem;
  }
}

body #showcase .text-box p {
  margin-top: 20px;
  font-size: 14px;
  -webkit-animation: fadeUp 1.2s forwards;
          animation: fadeUp 1.2s forwards;
}

@media screen and (max-width: 400px) {
  body #showcase .text-box p {
    font-size: 12px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 760px) {
  body #showcase .text-box {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  body #showcase .text-box {
    width: 80%;
  }
}

body #search-box {
  border-radius: 3px;
  margin-top: -50px;
  opacity: 0;
  -webkit-animation: fadeUp 2s forwards;
          animation: fadeUp 2s forwards;
}

@media screen and (max-width: 450px) {
  body #search-box {
    margin-top: -110px;
  }
}

body #search-box #search-link {
  margin-top: 8px;
}

body #search-box a {
  color: #fafafa;
}

body #search-box .s-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(30px, auto);
  grid-gap: 20px;
      grid-template-areas: "looking state price search-link";
  width: 90%;
  padding: 30px 20px;
  background-color: #3f373a;
  color: #fafafa;
  -webkit-box-shadow: 0px 3px 15px rgba(63, 55, 58, 0.4);
          box-shadow: 0px 3px 15px rgba(63, 55, 58, 0.4);
}

body #search-box .s-box #looking {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: looking;
}

body #search-box .s-box #state {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: state;
}

body #search-box .s-box #price {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: price;
}

body #search-box .s-box #search-link {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: search-link;
}

body #search-box .s-box p {
  font-size: 11px;
  color: #A4a3a3;
}

body #search-box .s-box .submenu-1 {
  display: none;
  -webkit-transition: .7s all ease-in-out;
  transition: .7s all ease-in-out;
}

@media screen and (max-width: 770px) {
  body #search-box .s-box #looking, body #search-box .s-box #state, body #search-box .s-box #price {
    border-bottom: 1px solid #fafafa;
  }
}

@media screen and (max-width: 770px) {
  body #search-box .s-box #looking, body #search-box .s-box #state, body #search-box .s-box #price {
    width: 45.5%;
  }
}

@media screen and (max-width: 400px) {
  body #search-box .s-box #looking, body #search-box .s-box #state, body #search-box .s-box #price {
    width: 95%;
  }
}

body #search-box .s-box li:hover .submenu-1 {
  display: block;
  position: absolute;
  margin-left: 15px;
  background-color: #4d4347;
  border-radius: 5px;
}

body #search-box .s-box li:hover .submenu-1 ul {
  margin: 10px 15px;
}

body #search-box .s-box li:hover .submenu-1 ul li {
  width: 130px;
  padding: 7px;
  border-bottom: 1px solid #fafafa;
}

body #search-box .s-box li:hover .submenu-1 ul li:last-child {
  border-bottom: none;
}

body #search-box .s-box li:hover .submenu-1 ul a:hover {
  color: #f6cc99;
}

@media screen and (max-width: 770px) {
  body #search-box .s-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

body #houses {
  margin-top: 50px;
}

body #houses #recentlyAdded-header h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

body #houses #recentlyAdded-header p {
  font-size: 13px;
  margin-bottom: 20px;
}

body #houses #recentlyAdded {
  margin-bottom: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
}

body #houses #recentlyAdded img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
  border-radius: 5px;
}

body #houses #recentlyAdded .glide .glide__arrow {
  background: #fafafa;
  border: none;
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 50%;
  font-size: 22px;
  color: #3f373a;
  outline: none;
}

body #houses #recentlyAdded .houses {
  -webkit-box-shadow: 0px 3px 15px rgba(63, 55, 58, 0.1);
          box-shadow: 0px 3px 15px rgba(63, 55, 58, 0.1);
}

body #houses #recentlyAdded .houses .imageBox {
  height: 30vh;
  overflow: hidden;
}

body #houses #recentlyAdded .houses .imageBox img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body #houses #recentlyAdded .houses p {
  margin-top: 10px;
  padding: 10px;
}

body #houses #recentlyAdded .houses p span {
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  body #houses #recentlyAdded .houses {
    margin-bottom: 15px;
  }
}

body #first-article-box {
  margin-top: 35px;
}

body #first-article-box .fab {
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-box-shadow: 0px 3px 15px rgba(63, 55, 58, 0.1);
          box-shadow: 0px 3px 15px rgba(63, 55, 58, 0.1);
  padding: 30px 15px;
}

@media screen and (min-width: 860px) {
  body #first-article-box .fab {
    display: -ms-grid;
    display: grid;
    grid-gap: 15px;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (min-width: 860px) {
  body #first-article-box .fab .left-box-container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
}

body #first-article-box .fab .left-box-container #first-article-header h3 {
  font-size: 25px;
  margin-bottom: 20px;
}

body #first-article-box .fab .left-box-container #first-article-header p {
  margin-bottom: 20px;
}

body #first-article-box .fab .left-box-container #article-text-box {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("/images/house4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 460px) {
  body #first-article-box .fab .left-box-container #article-text-box {
    height: 40vh;
  }
}

body #first-article-box .fab .left-box-container #article-text-box .p-text {
  max-width: 70%;
}

@media screen and (max-width: 460px) {
  body #first-article-box .fab .left-box-container #article-text-box .p-text {
    max-width: 80%;
  }
}

body #first-article-box .fab .right-box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (minmax(60px, auto))[7];
      grid-template-rows: repeat(7, minmax(60px, auto));
}

@media screen and (max-width: 780px) {
  body #first-article-box .fab .right-box-container {
    margin-top: 20px;
  }
}

@media screen and (min-width: 860px) {
  body #first-article-box .fab .right-box-container {
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5/7;
  }
}

body #first-article-box .fab .right-box-container #right-box-image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1/7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("/images/house13.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 0px 3px 15px rgba(63, 55, 58, 0.1);
          box-shadow: 0px 3px 15px rgba(63, 55, 58, 0.1);
}

@media screen and (max-width: 460px) {
  body #first-article-box .fab .right-box-container #right-box-image {
    max-width: 92%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
  }
}

body #first-article-box .fab .right-box-container #right-text-box {
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2/7;
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  grid-row: 5/8;
  margin-top: -20px;
  max-height: 170px;
}

body #first-article-box .fab .right-box-container #right-text-box .p-text {
  max-width: 100%;
  height: 100%;
}

body .p-text {
  min-height: 150px;
  background-color: #3f373a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 30px;
  line-height: 1.5;
}

body .p-text p {
  font-size: 20px;
  color: #fafafa;
  margin-bottom: 20px;
  font-family: 'Overlock', cursive;
}

@media screen and (max-width: 460px) {
  body .p-text p {
    font-size: 15px;
    margin-bottom: 7px;
  }
}

body .p-text #buy-a-home {
  color: #f6cc99;
}

body .p-text #buy-a-home:hover {
  color: #917D68;
}

body .p-text hr {
  width: 40%;
  margin: 10px;
  margin-bottom: 20px;
}

@media screen and (max-width: 460px) {
  body .p-text hr {
    margin-bottom: 0px;
  }
}

body #second-article-box {
  margin-top: 25px;
  font-family: 'Overlock', cursive;
}

body #second-article-box #sab {
  padding: 30px 0px;
}

@media screen and (min-width: 860px) {
  body #second-article-box #sab {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: (minmax(130px, auto))[6];
        grid-template-rows: repeat(6, minmax(130px, auto));
  }
}

body #second-article-box #sab .orange-box {
  background-color: #fae3c8;
  padding: 40px 25px;
}

@media screen and (min-width: 860px) {
  body #second-article-box #sab .orange-box {
    padding: 30px 80px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1/8;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1/5;
  }
}

@media screen and (min-width: 860px) {
  body #second-article-box #sab .orange-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    grid-gap: 15px;
    -ms-grid-rows: (100px)[2];
        grid-template-rows: repeat(2, 100px);
  }
}

body #second-article-box #sab .orange-box .orange-box-header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

body #second-article-box #sab .orange-box .orange-box-header h3 {
  font-size: 27px;
}

body #second-article-box #sab .orange-box .orange-box-text {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/7;
}

body #second-article-box #sab .orange-box .orange-box-text p {
  font-size: 13px;
}

body #second-article-box #sab .sab-image-box {
  background-image: url("/images/house12.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 860px) {
  body #second-article-box #sab .sab-image-box {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2/9;
    -ms-grid-row: 2;
    -ms-grid-row-span: 4;
    grid-row: 2/6;
  }
}

body #second-article-box #sab .sab-text-box {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5/7;
}

@media screen and (min-width: 860px) {
  body #second-article-box #sab .sab-text-box .p-text {
    min-height: 185px;
    min-width: 400px;
  }
}

body #newsletter {
  margin-top: -40px;
  font-family: 'Roboto Condensed', sans-serif;
}

@media screen and (max-width: 860px) {
  body #newsletter {
    margin-top: 0;
  }
}

body #newsletter .nl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #newsletter .nl .nl-box {
  text-align: center;
  min-width: 500px;
}

body #newsletter .nl .nl-box p {
  letter-spacing: 1px;
  word-spacing: 1px;
  padding-bottom: 10px;
  font-size: 14px;
}

body #newsletter .nl .nl-box h3 {
  margin-bottom: 10px;
}

body #newsletter .nl .nl-box input {
  border-radius: 5px;
  padding: 14px 14px 12px 14px;
  min-width: 270px;
  max-width: 450px;
  background-color: #3f373a;
  border: none;
  color: #fafafa;
  -webkit-box-shadow: 0px 3px 15px rgba(63, 55, 58, 0.2);
          box-shadow: 0px 3px 15px rgba(63, 55, 58, 0.2);
}

@media screen and (max-width: 860px) {
  body #newsletter .nl .nl-box input {
    font-size: 10px;
  }
}

body #newsletter .nl .nl-box input:focus {
  outline: none;
}

body #newsletter .nl .nl-box label {
  margin-left: -70px;
  background-color: #f6cc99;
  padding: 8px 14px;
  border-radius: 5px;
  font-size: 14px;
}

@media screen and (max-width: 860px) {
  body #newsletter .nl .nl-box label {
    font-size: 10px;
    margin-left: -50px;
  }
}

/*-------Animations---------*/
@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeUp {
  0% {
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=style.css.map */